.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

h3{
  margin: 0;
  padding-top: 10px;
}
p {
  margin: 5px 0;
}
