

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  table {
    width: 100%;
    margin-bottom: 20px;
  }

  button {
    margin-right: 5px;
  }

  button[color="primary"] {
    background-color: #4caf50;
    color: white;
  }

  button[color="warn"] {
    background-color: #f44336;
    color: white;
  }

  button[color="accent"] {
    background-color: #03a9f4;
    color: white;
  }

  button:hover {
    opacity: 0.9;
  }

  .mat-paginator {
    background: white;
    border-radius: 10px;
  }
