<div class="container">
    <h2>Lista de Facturas</h2>
  
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" id="invoice-table">
      <!-- Invoice ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let invoice">{{ invoice.invoiceId }}</td>
      </ng-container>
  
      <!-- Client Name Column -->
      <ng-container matColumnDef="client">
        <th mat-header-cell *matHeaderCellDef>Cliente</th>
        <td mat-cell *matCellDef="let invoice">{{ invoice.client?.name || 'N/A' }}</td>
      </ng-container>
  
      <!-- Amount Column -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Monto</th>
        <td mat-cell *matCellDef="let invoice">{{ invoice.amount | currency }}</td>
      </ng-container>
  
      <!-- Currency Type Column -->
      <ng-container matColumnDef="currencyType">
        <th mat-header-cell *matHeaderCellDef>Moneda</th>
        <td mat-cell *matCellDef="let invoice">{{ invoice.currencyType }}</td>
      </ng-container>
  
      <!-- Issue Date Column -->
      <ng-container matColumnDef="issueDate">
        <th mat-header-cell *matHeaderCellDef>Fecha de Emisión</th>
        <td mat-cell *matCellDef="let invoice">{{ invoice.issueDate | date }}</td>
      </ng-container>
  
      <!-- Due Date Column -->
      <ng-container matColumnDef="dueDate">
        <th mat-header-cell *matHeaderCellDef>Fecha de Vencimiento</th>
        <td mat-cell *matCellDef="let invoice">{{ invoice.dueDate | date }}</td>
      </ng-container>
  
      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let invoice">
          <button mat-raised-button color="primary" (click)="addReport(invoice.invoiceId)">
            <mat-icon>add</mat-icon> Agregar Reporte
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator
      [pageSizeOptions]="[5, 10, 25]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
  