<div class="container">
  <h2 style="text-align: center">Lista de Bancos</h2>

  <!-- Barra de búsqueda -->
  <div class="search-container" style="text-align: center; margin-bottom: 20px;">
    <mat-form-field appearance="outline">
      <mat-label>Buscar por ID</mat-label>
      <input matInput type="number" [(ngModel)]="searchId" placeholder="Ingrese el ID del banco">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="buscarBancoPorId()">
      <mat-icon>search</mat-icon>Buscar
    </button>
  </div>

  <!-- Tabla de bancos -->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" id="table-data">
    <ng-container matColumnDef="bankId">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">{{ element.bankId }}</td>
    </ng-container>

    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef>Img</th>
      <td mat-cell *matCellDef="let element">
        <img [src]="element.imageUrl" alt="Imagen" width="50" />
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="ruc">
      <th mat-header-cell *matHeaderCellDef>RUC</th>
      <td mat-cell *matCellDef="let element">{{ element.ruc }}</td>
    </ng-container>

    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef>Tasa</th>
      <td mat-cell *matCellDef="let element">{{ convertPercentage(element.rate.value) }}</td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Tipo</th>
      <td mat-cell *matCellDef="let element">{{ convert(element.rate.type, element.rate.period) }} </td>
    </ng-container>

    <ng-container matColumnDef="actionSelect">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary" (click)="seleccionarBanco(element.bankId)">
          <mat-icon>check_circle</mat-icon> Escoger
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
</div>
