<div class="container">
    <h2 style="text-align: center">Perfil de la Compañía</h2>
  
    <table class="table-profile">
      <tr>
        <td><strong>ID:</strong></td>
        <td>{{ company.companyId }}</td>
      </tr>
      <tr>
        <td><strong>Nombre:</strong></td>
        <td>{{ company.name }}</td>
      </tr>
      <tr>
        <td><strong>RUC:</strong></td>
        <td>{{ company.ruc }}</td>
      </tr>
      <tr>
        <td><strong>Email:</strong></td>
        <td>{{ company.email }}</td>
      </tr>
    </table>
  </div>
  